<section>
  <h2>Loan Applications</h2>
  <% if (error) { %>
    <p>Error: <%= error %></p>
  <% } else if (loans && loans.length > 0) { %>
    <ul>
      <% loans.forEach(loan => { %>
        <li>
          User: <%= loan.user.name %> - $<%= loan.amount %> (Status: <%= loan.status %>)
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No loan applications found.</p>
  <% } %>
</section>